@mixin fontsize($size) {
    font-size:$size;
 	font-size: ($size / 16px) * 1rem;
}

@mixin hover($time) {
	-webkit-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}

@mixin box-sizing($type)
 {
 -webkit-box-sizing:$type;
 -moz-box-sizing:$type;
 box-sizing:$type;
 }

 @mixin ha {
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

$primaryfont: 'Merriweather Sans', sans-serif;
$secondaryfont: 'Merriweather', serif;

$blue: #2c84c7;
$blue-hover: #2674B0;
$grey: #ccc;
$grey-hover: #bbb;
$black: #444;

@mixin shadow($color) {
	-moz-box-shadow: 10px 10px 30px 0px $color;
	-webkit-box-shadow: 10px 10px 30px 0px $color;
	-o-box-shadow: 10px 10px 30px 0px $color;
	box-shadow: 10px 10px 30px 0px $color;
}