* { @include box-sizing(border-box); text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body { overflow: hidden; @include ha; height: 100%; color: $black; background: url(../img/pattern.png); background-position: 0px 0px; background-repeat: repeat; -webkit-animation: animatedBackground 40s linear infinite alternate; animation: animatedBackground 40s linear infinite alternate; }

main { text-align: center; margin: 15% auto 0 auto; width: 380px; padding: 30px; background: #fff; border-radius: 5px; border: 1px solid #9E4D4D; @include shadow(rgba(40, 5, 5, 0.55)); }

h1 { font-family: $primaryfont; @include fontsize(40px); margin: 0; }
h2 { font-family: $secondaryfont; @include fontsize(18px); font-style: italic; margin: 15px 0 0 0; color: $grey; }

ul { padding: 0; }
ul li { list-style: none; display: inline-block; vertical-align: bottom; margin-top: 21px; }

a { text-decoration: none; font-family: $primaryfont; color: #fff; border-radius: 5px; @include fontsize(14px); font-weight: 600; @include hover(.3s); }
a:hover { @include hover(.3s); }

.button { display: block; height: 56px; width: 250px; line-height: 56px; }

.download { background: $blue; border: 1px solid $blue-hover; }
.download:hover { background: $blue-hover; }

.github { background: $grey; border: 1px solid $grey-hover; }
.github:hover { background: $grey-hover; }

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}